
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-title">Policy</h2>
            </div>
        </div>
    </div>
</div>
<!-- main-content-wrap start -->
<div class="main-content-wrap contact-bg">
    <!-- About Us Area -->
    <div class="about-us-area section-ptb">
        <div class="container w-100">
            <div class="row align-items-center">
                <div class="col-lg-12 terms">
                    <a href="~/Home/Policy"><h3 class="font-default display-4 font-weight-bolder">Terms & Condition</h3></a>
                    <p><strong>1.</strong> We will always respect your desire to surprise your loved ones, and we will try to do so in each delivery, however sometime we do not have full information or full address and we will have to contact the recipient to insure timely delivery and to not waste the time of our drivers and delay other deliveries, hence no claims or refunds or complains will be accepted in case a surprise delivery is requested but the details of delivery are not clear or the recipients is not cooperating for delivery.</p>

                    <p><strong>2.</strong> You will be charged for any un-delivered order if "The address provided by you is incomplete or inaccurate", "Recipient is not available at the time of delivery" or if the "Recipient refuses to accept the order"</p>
                    <p><strong>Explanation:</strong> Please note that most of the products we sell are perishable in nature and cannot be returned if any one of the above conditions hold true. We cannot utilize the flowers for any other order due to our stringent quality checks. Hence no refund requests on any of the above grounds will be entertained. We will only issue a refund for non-perishable products that we keep in our stock like for instance "Teddy Bears".</p>
                    <p><strong>3.</strong> We reserve the right to contact the recipient of your order several times and demand the money from them in case we receive a chargeback against your order. We also reserve the right to register a case against the recipient of your order and claim money legally from them.</p>
                    <p><strong>Explanation:</strong> We have a Zero Tolerance policy towards frauds of any kind and hence this point is self-explanatory and needs no further explanation</p>

                    <p><strong>4.</strong> If you place an order for Branded items, all warranties are liable to the original manufacturer.</p>
                    <p><strong>Explanation:</strong> After the product is sold, the service and maintenance of that particular item will be in accordance with the terms and conditions of the original manufacturer, and in no condition it is our responsibility and we cannot be held accountable for any claim. In case of any defect or claim, a case can be filed against the original manufacturer by us but the cost for the same has to be borne by the recipient.</p>
                    <p>
                        <strong>5.</strong> Prohibited acts: You may not access or use the website for any other purpose other than that for which Flower Link makes it available. The website is for the personal use of users only and may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by Flower Link. In case of any prohibited activities committed by the user, the company has the right to suspend, block or terminate the user's membership and prevent his access to log in the service. Prohibited activities include but not limited to the following:
                        <ul class="list-square">
                            <li>Criminal or tortuous activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, copyright infringement, patent infringement, or theft of trade secrets.</li>
                            <li>Advertising to, or solicitation of, any user to buy or sell any products or services, unless authorized by Flower Link.</li>
                            <li>Systematic retrieval of data or other content from the website to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Flower Link.</li>
                            <li>Making any unauthorized use of the Flower Link services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email.</li>
                            <li>Engaging in unauthorized framing of or linking to the website.</li>
                            <li>Transmitting chain letters or junk email to other users.</li>
                            <li>Using any information obtained from the website in order to contact, advertise to, solicit, or sell to any user without their prior explicit consent.</li>
                            <li>Engaging in any automated use of the system, such as using scripts to add friends or send comments or messages, or using any data mining, robots or similar data gathering and extraction tools.</li>
                            <li>Interfering with, disrupting, or creating an undue burden on the website or the networks or services connected to the website.</li>
                            <li>Attempting to impersonate another user or person.</li>
                            <li>Using the username of another user.</li>
                            <li>Selling or otherwise transferring your profile.</li>
                            <li>Using any information obtained from the website in order to harass, abuse, or harm another person.</li>
                            <li>Using the Flower Link service as part of any effort to compete with Flower Link or to provide services as a service office.</li>
                            <li>Deciphering, decompiling, disassembling or reverse engineering any of the software comprising or in any way making up a part of the website.</li>
                            <li>Attempting to bypass any measures of the website designed to prevent or restrict access to the website, or any portion of the website.</li>
                            <li>Harassing, annoying, intimidating or threatening Flower Link Company through any medium of communication or to any of its employees or agents engaged in providing any part of Flower Link Company services to you.</li>
                            <li>displaying an advertisement, or accepting payment or anything of value from a third person in exchange for your performing any commercial activity on or through the website on behalf of that person, such as posting blogs or bulletins with a commercial purpose.</li>
                            <li>Deleting the copyright or other proprietary rights notice from any Contribution or Flower Link Content; and using the website in a manner inconsistent with any and all applicable laws and regulations.</li>
                            <li>Any other suspected malicious activities on Flower Link website or applications.</li>
                        </ul>
                    </p>
                    <p>
                        <strong>Price and payments:</strong> Please read the following terms of use and disclaimers carefully before using Debit / Credit Cards: The customer order cancellation is limited to a maximum time of 15 minutes from the time of placing the order.
                        <br />
                        <br />The customer refund procedure might take 2-7 working days to process on the Debit /Credit Cards bank payment gateway. The customer has to follow on with the bank in case of any delay in crediting back the customer’s account with the amount previously paid by the customer. We will send an email to the customer that contains a printout of the refund advice printed from Debit / Credit Cards bank payment gateway as reference in case the customer wants to revise the bank with.
                        <br />Customers using the Debit / Credit Cards facility are requested to be available on their respective contact numbers.
                        <br />
                        <br />Credit or Debit cards used in placing orders through the online payment gateway on Flower Link website or applications must belong to the user. Otherwise, the user must attain the legal permission from the card owner to perform the transaction.
                        The customer is entirely liable for placing an order using the Debit / Credit Cards facility after carefully reading all the terms & conditions.
                    </p>
                        <br />
                        <a href="~/Home/Policy"><h3 class="font-default display-4 font-weight-bolder">Cancellation & Refund Policy</h3></a>
                    <p>Before placing the order you are requested to read all the Terms and Conditions carefully as you shall be bound by these Terms and Conditions regardless of the country you are currently residing in or regardless of the fact that you did not read them before placing an order.</p>
                    <p><strong>1.</strong> We at Flower Link reserve the right to Substitute the product with a suitable product if the ordered product is not available. Please understand that substitutions are necessary to ensure timely delivery of each order and we may or may not contact you before substituting the product. You are also requested to note that all the product images are Studio Images and the actual product delivered may have completely/ Partially different look and feel. In short the quantity will remain the same but the packaging can vary. <strong>No refund requests or complaints on grounds that "My product does not look similar to the one shown online" will be entertained.</strong></p>
                    <p>The customer refund procedure might take 2-7 working days to process on the Debit /Credit Cards bank payment gateway. The customer has to follow on with the bank in case of any delay in crediting back the customer’s account with the amount previously paid by the customer. We will send an email to the customer that contains a printout of the refund advice printed from Debit / Credit Cards bank payment gateway as reference in case the customer wants to revise the bank with.</p>

                    <p><strong>2.</strong> No refund request or complaints on grounds that <strong>"I asked this order to be delivered at X time and you didn't"</strong> will be entertained. Please note that we only guarantee delivery on a specified date. We in no way guarantee delivery within a specified time frame, but we will try our best to deliver it always on the time frame requested, but in case the order was delivered on a later time No refunds requested or complains will be entertained.</p>

                    <p><strong>3. Order cancellation:</strong> You have the right to cancel an order up to 15 minutes from placing the order on our website. While every effort is made to ensure that accurate pricing and descriptions are maintained, we reserve the right to cancel any order that is based on inaccurate information. An order may be subsequently cancelled by Flower Link after you have received a confirmation and Flower Link reserve the right to cancel any order, before or after acceptance, and will notify you immediately of any such cancellation.</p>

                    <br />
                    <a href="~/Home/Policy"> <h3 class="font-default display-4 font-weight-bolder">Shipment and Delivery Policies</h3></a>
                   
                    <p><strong>Product delivery:</strong> During any product delivery made by Flower Link, if the client is not available in the address specified in the system, the product ordered by the client shall not deliver to anywhere else. Within the framework of such a case, the member must accept all legal responsibilities arising from ordering a product to an address where he/she does not exist.</p>
                    <p>We may not be able to provide you with the receivers name or POD if the order is for a "Wedding", "Funeral", "Hotels", "Hostels" or "Hospital". No refund requests or non-delivery complains will be entertained on such grounds.</p>
                    <p><strong>Explanation:</strong> Please understand that we may not be permitted to carry the products directly to a room in a "hospital", "hostels" or "hotel" and hence we may we forced to leave them with the reception. Quite often the reception will not sign a delivery confirmation note and hence we may not be able to provide a POD for such deliveries. For flower deliveries made to a Funeral, it does not look nice to trouble the already grieved relative with the Signing process. Hence we may not be able to provide a POD for such deliveries. For flower or gift deliveries made to a wedding hall we may not be able to provide you with a POD if the Bride or Groom or their relative does not cooperate and refuse to sign the POD indicating they are busy or they do not have time.</p>

                    <hr class="mt-35" />
                    <p><strong>Governing law & competent:</strong> These Website Terms shall be governed by and construed in accordance with the law of each country of delivery. Disputes arising in connection with these Website Terms (including non-contractual disputes) shall be subject to the exclusive jurisdiction of the courts of the respective delivery country.</p>
                    <p>
                        <strong>License:</strong> Flower Link grants you permission (which may be revoked at any time for any reason or no reason) to view the site and to download, email, share via social networking or print individual pages from the site in accordance with these Terms of Use and solely for your own personal, non-commercial use, provided you do not remove any trademark, copyright or other notice contained on such pages. No other use is permitted.
                        You may not, for example, incorporate the information, content, or other material in any database, compilation, archive or cache. You may not modify, copy, distribute, re-publish, transmit, display, perform, reproduce, publish, reuse, resell, license, create derivative works from, transfer, or sell any information, content, material, software, products or services obtained from the site, except as specifically noted above. Except as specifically authorized by Flower Link, you may not deep-link to the site for any purpose or access the site manually or with any robot, spider, web crawler, extraction software, automated process or device to scrape, copy, or monitor any portion of the site or any information, content, or material on the site. Flower Link reserves all of its statutory and common law rights against any person or entity who violates this paragraph. You may not link or frame to any pages of the site or any content contained therein, whether in whole or in part, without prior written consent from Flower Link. You may become a "fan" of the site or share links to the site via social networking technology reference on the site. Any rights not expressly granted herein are reserved.
                    </p>
                    <p><strong>Intellectual property rights:</strong> The content on the website ("Flower Link") and the trademarks, service marks and logos contained therein ("Marks") are owned by or licensed to Flower Link, and are subject to copyright and other intellectual property rights under the kingdom of Bahrain and international conventions. Flower Link Content, includes, without limitation, all source code, databases, functionality, software, website designs, audio, video, text, photographs and graphics. All Flower Link graphics, logos, designs, page headers, button icons, scripts and service names are registered trademarks, common law trademarks or trade dress of Flower Link in Bahrain and/or other countries. Flower Link trademarks and trade dress may not be used, including as part of trademarks and/or as part of domain names, in connection with any product or service in any manner that is likely to cause confusion and may not be copied, imitated, or used, in whole or in part, without the prior written permission of Flower Link. Flower Link Content on the website is provided to you "AS IS" for your information and personal use only and may not be used, copied, reproduced, distributed, transmitted, broadcasted, displayed, sold, licensed, or otherwise exploited for any other purposes whatsoever without the prior written consent of the respective owners. Systematic retrieval of data or other content from the website to create or compile, directly or indirectly, a collection, compilation, database or directory without written permission from Flower Link is prohibited.</p>
                    <p>Provided that you are eligible to use the website, you are granted a limited license to access and use the website and the Flower Link content and to download or print a copy of any portion of the Flower Link content to which you have properly gained access solely for your personal, non-commercial use. Flower Link reserves all rights not expressly granted to you in and to the website and Flower Link Content and Marks. If you download or print a copy of the Flower Link content for personal use, you must retain all copyright and other proprietary notices contained therein. You agree not to circumvent, disable or otherwise interfere with the security related features of the website or features that prevent or restrict use or copying of any Flower Link content or enforce limitations on use of the website or the Flower Link content therein.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!--// About Us Area -->
